* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    max-width: 90%;
    margin: auto;
}
body {
    font-family: sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
/* header css*/
header {
    background: #000;
    padding: 15px 0;
}
.name {
    font-weight: 600;
}
header a {
    color: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.btn {
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(120deg, rgb(95, 95, 242), rgb(249, 101, 251));
    border-radius: 30px;
    font-weight: 600;
    margin: 20px 0;
    display: inline-block;
    transition: all 0.3s;
}
.btn:hover {
    transform: translateX(10px);
}
/* header css end*/
/*banner css*/
.banner {
    padding: 80px 0;
    background: #e3ffdd;
}
.banner .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: 300px;
}
.banner img {
    height: 200px;
    width: 200px;
}
/*projects css*/
.projects {
    padding: 80px 0;
}
.projects h2 {
    text-align: center;
}
footer {
    background: #000000ae;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
